
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Merienda:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Merienda:wght@400;600;700;800&display=swap');
/* shared style */
.text-primary-color{
    color: rgb(255, 84, 0);
}

.btn-primary{
    border-radius: 8px; 
background: rgb(255, 84, 0);
padding: 10px 30px;
border: none;
color: rgb(255, 255, 255);
}

.section-title{
    color: rgb(19, 19, 24);
font-size: 2.5rem;
font-weight: 800;
}

.section-description{
    color: rgba(19, 19, 24, 0.7);
font-size: 1rem;
}

/* Header style */
header, main{
    margin: 50px 100px;
    margin-left: 150px;
    
}
/* Nav style */
nav{
    display: flex;
    justify-content: space-between;
}

.nav-header{
    display: flex;
}

.nav-title{
    font-size: 2.25rem;
    font-weight: 800;
    margin: 5px;
    
}

nav > ul{
    display: flex;
    padding-right: 44px;
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(66, 66, 71);
}

nav li a{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 1.2rem;
    font-weight: 500;
}
/* Banner style */
.banner-container{
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%),url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    height: 500px;
    width: 95%;
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 16px; 
}

.banner-title{
    color: rgb(255, 255, 255);
font-size: 4rem;
font-weight: 800;
text-align: center;
padding-top: 106px;
padding-left: 287px;
padding-right: 287px;
margin-bottom: 10px;
}

.banner-description{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10px;
}

.banner-frame{
border-radius: 8px; 
background: rgba(255, 255, 255, 0.3);
width: 700px;
text-align: center;
padding: 20px 100px;
margin-left: 100px;
}

.btn-secondary{
border-radius: 8px; 
background: rgb(255, 255, 255);
border: none;
padding: 16px;
margin-right: 15px;
color: rgba(19, 19, 24, 0.5);
height: 50px;
width:150px;
}

.space{
    margin-right: 30px;
}

/* popular section style */
.popular{
    display: flex;
    margin-top: 100px;
    width: 100%;
}

.popular-content{
    width: 500px;
    margin-right: 80px;
    
}

/* destination section style */
.destination{
    width: 100%;
    
}
.destination-content{
    text-align: center;
    margin-top: 100px;
}

.destination-background-img {
    width: 100%;
    max-width: 1180px; /* Adjust max width for container */
    margin: 48px auto;
    padding: 20px;
}
.row{
    width: 100%;
    display: flex;
    margin-bottom: 24px;  
    justify-content: space-between;  
}

/* choose section style */

.choose-content{
    text-align: center;
}

.choose-card{
    min-height: 150px;
    max-width: 1050px;
    display: flex;
    gap: 20px;
    padding-top: 50px;
    margin-left: 50px;
}

.card-1{
    padding: 15px 10px;
    min-height: 150px;
    max-width: 500px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);

}
.card-2{
    padding: 15px 10px;
    min-height: 100px;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.card-3{
    padding: 20px 10px;
    width: 500px; 
    margin: 30px auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* perfect section style */
.perfect{
    display: flex;
    margin-top: 100px;
}

.perfect-content{
    width: 532px;
    margin-right: 24px;
}

.perfect-img img{
    width: 90%;
    
}

/* News Letter style */

.news-letter{
    display: flex;
    margin-top: 100px;
    
}

.news-letter-login{
    width: 474px;
    margin-right: 24px;
}
.news-letter-title{
    color: rgb(19, 19, 24);
font-size: 1.5rem;
}

.hr{
    border: 1px solid rgba(19, 19, 24, 0.1);
    width: 450px;
    margin-left: 0px;
}
.login{
    width: 450px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 1rem;;
    font-weight: 400;
    border: none;
    margin-bottom: 10px;
}

.btn-subscribe{
    width: 450px;
    height: 52px;
    border-radius: 8px; 
background: rgb(255, 84, 0);
padding: 10px 30px;
border: none;
color: rgb(255, 255, 255);
font-size: 1.25rem;
}

.news-letter-img img{
    width: 95%;
    height: 400px;
    margin-left: 0px;
}

/* Footer style */
footer{
    margin: 100px 0px;
    background: rgba(19, 19, 24, 0.05);
    height: 500px;
    text-align: center;
}

.footer-container{
    display: flex;
    padding-top: 120px;
    padding-left: 44.5%;
}

.footer-icon{
    padding-bottom: 30px;
}

.hr-2{
    margin-left: 150px;
    width: 80%;
    
}

.rights{
    color: rgb(19, 19, 24);
    padding-top: 70px;
}